<html>
	<head>
		<meta charset="utf-8">
		<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
	    extensions: ["tex2jax.js"],
	    jax: ["input/TeX", "output/HTML-CSS"],
	    tex2jax: {
	      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
	      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
	      processEscapes: true
	    },
	    "HTML-CSS": { availableFonts: ["TeX"] }
	  });
	</script>
		<script type="text/javascript"
		   src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
		</script>


		<style type="text/css">
			li.math {
				margin-bottom: .5cm;
			}

			ol.exoitems { list-style-type: lower-alpha; }

			/*.ncols-2 {
				column-count:2;
				-moz-column-count:2; 
				-webkit-column-count:2; 
			}*/

		</style>
	</head>
	<body>



<section class="exo">
	<h2 class="exo">Exercice </h2>
		<div class="ncols-2">
			<ol class="exoitems sortable">
				<li id="" class="math ui-state-default">$3+4\cdot 5=$</li>
				<li id="" class="math ui-state-default">$3\cdot {{5}^{3}}=$</li>
				<li id="" class="math ui-state-default">$6+{{3}^{2}}=$</li>
				<li id="" class="math ui-state-default">${{(7+4 \div 2)}^{2}}=$</li>
				<li id="" class="math ui-state-default">$\sqrt{36} \div {{2}^{2}}+1=$</li>
				<li id="" class="math ui-state-default">$8 \div 4\cdot 4+{{0.5}^{2}}=$</li>
				<li id="" class="math ui-state-default">$\quad \ldots \quad-15\cdot 2=62$</li>
				<li id="" class="math ui-state-default">$0 \div {{3}^{2}}-15=$</li>
				<li id="" class="math ui-state-default">$2\cdot {{\quad \ldots \quad}^{2}}+31=81$</li>
				<li id="" class="math ui-state-default">$10 \div {{10}^{2}}+{{10}^{2}}=$</li>
				<li id="" class="math ui-state-default">${{(3\cdot \quad \ldots \quad)}^{2}}+2=227$</li>
				<li id="" class="math ui-state-default">${{(3+4)}^{2}}=$</li>
				<li id="" class="math ui-state-default">${{3}^{2}}+{{4}^{2}}=$</li>
				<li id="" class="math ui-state-default">${{(-3)}^{2}}=$</li>
				<li id="" class="math ui-state-default">$-{{3}^{2}}=$</li>
			</ol>
		</div>
		</div>
</section>

<!------------------------------------------------------------------------------------------------------------
--- Exercice
------------------------------------------------------------------------------------------------------------ -->
<section class="exo">
	<h2 class="exo">Exercice </h2>
Compléter le tableau.
tableau (recopier depuis le PDF)
</section>

<!------------------------------------------------------------------------------------------------------------
--- Exercice
------------------------------------------------------------------------------------------------------------ -->
<section class="exo">
	<h2 class="exo">Exercice </h2>
Chercher le PPMC de :
		<div class="ncols-2"><ol class="exoitems">
			<li id="" class="math">64 et 24</li>
			<li id="" class="math">36 ; 54 et 6</li>
			<li id="" class="math">60 ; 75 et 14</li>
		</ol>
	</div>
</section>

<!------------------------------------------------------------------------------------------------------------
--- Exercice
------------------------------------------------------------------------------------------------------------ -->
<section class="exo">
	<h2 class="exo">Exercice </h2>
Chercher le PGDC de :
		<div class="ncols-2"><ol class="exoitems">
			<li id="" class="math">216 et 324</li>
			<li id="" class="math">360 et 16</li>
			<li id="" class="math">420 ; 120 et 45</li>
		</ol>
	</div>
</section>

<!------------------------------------------------------------------------------------------------------------
--- Exercice
------------------------------------------------------------------------------------------------------------ -->
<section class="exo">
	<h2 class="exo">Exercice </h2>
On veut scier un parallélépipède dont les arêtes mesurent respectivement 315 cm, 126 cm et 594 cm en cubes égaux. On en veut le plus petit nombre possible sans qu’il y ait de déchet.
		<div class="ncols-2"><ol class="exoitems">
			<li id="" class="math">Déterminer la longueur de l’arête de chaque cube (on travaille dans)$</li>
			<li id="" class="math">Combien de cubes obtient-on ainsi $</li>
		</ol>
	</div>

</section>

<!------------------------------------------------------------------------------------------------------------
--- Exercice
------------------------------------------------------------------------------------------------------------ -->
<section class="exo">
	<h2 class="exo">Exercice </h2>
Un berger compte ses moutons. Qu’il les compte par 10, 11, 12, ,15, il lui en reste toujours un. Combien de moutons ce berger possède-t-il, sachant que leur nombre est inférieur à 1000 ?
</section>

<div class="exo section">Opérations sur les fractions</div>

<!------------------------------------------------------------------------------------------------------------
--- Exercice
------------------------------------------------------------------------------------------------------------ -->
<section class="exo">
	<h2 class="exo">Exercice </h2>
Dans quels cas peut-on simplifier ces fractions par 17 ?
		<div class="ncols-2"><ol class="exoitems">
			<li id="" class="math">$\dfrac{17}{34}=$</li>
			<li id="" class="math">$\dfrac{17\cdot 6}{17\cdot 5}=$</li>
			<li id="" class="math">$\dfrac{17+6}{17+5}=$</li>
			<li id="" class="math">$\dfrac{117}{217}=$</li>
			<li id="" class="math">$\dfrac{{{17}^{4}}}{{{34}^{2}}}=$</li>
			<li id="" class="math">$\dfrac{17+17}{17+17+17}=$</li>
			<li id="" class="math">$\dfrac{{{17}^{2}}}{17}=$</li>
		</ol>
	</div>
</section>

<!------------------------------------------------------------------------------------------------------------
--- Exercice
------------------------------------------------------------------------------------------------------------ -->
<section class="exo">
	<h2 class="exo">Exercice </h2>
Simplifier sans effectuer les opérations au numérateur et au dénominateur.
		<div class="ncols-2"><ol class="exoitems">
			<li id="" class="math">$\dfrac{19\cdot 3+19}{38}=$</li>
			<li id="" class="math">$\dfrac{47\cdot 43+47\cdot 3}{47\cdot 43-47\cdot 3}=$</li>
			<li id="" class="math">$\dfrac{51\cdot 37}{3\cdot 51\cdot 37\cdot 4}=$</li>
			<li id="" class="math">$\dfrac{197}{195+197+199}=$</li>
			<li id="" class="math">$\dfrac{769\cdot 853}{(-853)\cdot (-769)}=$</li>
			<li id="" class="math">$\dfrac{769-853}{853-769}=$</li>
			<li id="" class="math">$\dfrac{4\cdot 5\cdot 6\cdot 7\cdot 8\cdot 9\cdot 10\cdot 11}{12\cdot 11\cdot 10\cdot 9\cdot 8\cdot7\cdot 6\cdot 5}=$</li>
			<li id="" class="math">$\dfrac{65-15}{15}=$</li>
		</ol>
	</div>
</section>

<!------------------------------------------------------------------------------------------------------------
--- Exercice
------------------------------------------------------------------------------------------------------------ -->
<section class="exo">
	<h2 class="exo">Exercice </h2>
Comparer les fractions suivantes (compléter par $<$, $=$ ou $>$) :
		<div class="ncols-2"><ol class="exoitems">
			<li id="" class="math">$\dfrac{-13}{-5} \quad \ldots \quad \dfrac{13}{5}$</li>
			<li id="" class="math">$\dfrac{-13}{5} \quad \ldots \quad -\dfrac{13}{5}$</li>
			<li id="" class="math">$\dfrac{13}{-5} \quad \ldots \quad \dfrac{-13}{-5}$</li>
			<li id="" class="math">$\dfrac{-13}{-5} \quad \ldots \quad \dfrac{-5}{8}$</li>
		</ol>
	</div>
</section>

<!------------------------------------------------------------------------------------------------------------
--- Exercice
------------------------------------------------------------------------------------------------------------ -->
<section class="exo">
	<h2 class="exo">Exercice </h2>
Comparer les nombres suivants (compléter par $<$, $=$ ou $>$) :
		<div class="ncols-2"><ol class="exoitems">
			<li id="" class="math">$14,56\quad \ldots \quad 14,56$</li>
			<li id="" class="math">$\dfrac{3}{5} \quad \ldots \quad 0,6$</li>
			<li id="" class="math">$0,87\quad \ldots \quad0,86$</li>
			<li id="" class="math">$\dfrac{-2}{-3} \quad \ldots \quad 0,6$</li>
			<li id="" class="math">$-\dfrac{1}{9} \quad \ldots \quad $</li>
			<li id="" class="math">$-1,2 \quad \ldots \quad -\dfrac{-6}{5}$</li>
			<li id="" class="math">$-8,9\quad \ldots \quad-8,0$</li>
			<li id="" class="math">$-5,37\quad \ldots \quad-5,3$</li>
		</ol>
	</div>
</section>

<!------------------------------------------------------------------------------------------------------------
--- Exercice
------------------------------------------------------------------------------------------------------------ -->
<section class="exo">
	<h2 class="exo">Exercice </h2>
Déterminer dans chaque cas, et sans utiliser la machine, laquelle des deux fractions est la plus grande :
		<div class="ncols-2"><ol class="exoitems">
			<li id="" class="math">$\dfrac{8}{21}\quad\text{et}\quad\dfrac{15}{42}$</li>
			<li id="" class="math">$\dfrac{10}{27}\quad\text{et}\quad\dfrac{10}{29}$</li>
			<li id="" class="math">$\dfrac{17}{19}\quad\text{et}\quad\dfrac{15}{17}$</li>
			<li id="" class="math">$\dfrac{15}{21}\quad\text{et}\quad\dfrac{35}{49}$</li>
		</ol>
	</div>
</section>

<!------------------------------------------------------------------------------------------------------------
--- Exercice
------------------------------------------------------------------------------------------------------------ -->
<section class="exo">
	<h2 class="exo">Exercice </h2>
Effectuer les opérations indiquées
<Reprendre le tableau depuis le fichier original>
</section>

<!------------------------------------------------------------------------------------------------------------
--- Exercice
------------------------------------------------------------------------------------------------------------ -->
<section class="exo">
	<h2 class="exo">Exercice </h2>
Effectuer les additions demandées (en donnant le résultat sous forme de fraction irréductible)
		<div class="ncols-2"><ol class="exoitems">
			<li id="" class="math">$\dfrac{3}{13\,}+2=$</li>
			<li id="" class="math">$\dfrac{2}{1\,1}+\dfrac{5}{20}=$</li>
			<li id="" class="math">$\dfrac{23}{33\,}+\dfrac{9}{22}=$</li>
			<li id="" class="math">$\dfrac{4}{\,25}+\dfrac{3}{4}=$</li>
			<li id="" class="math">$\dfrac{2}{3\,}+\dfrac{3}{4}+\dfrac{2}{5}=$</li>
			<li id="" class="math">$\dfrac{1}{125}+\dfrac{1}{8}+\dfrac{3}{10}=$</li>
			<li id="" class="math">$\dfrac{1}{4}+\dfrac{3}{25}+\dfrac{7}{75}=$</li>
		</ol>
	</div>
</section>

<!------------------------------------------------------------------------------------------------------------
--- Exercice
------------------------------------------------------------------------------------------------------------ -->
<section class="exo">
	<h2 class="exo">Exercice </h2>
Simplifier les fractions lorsque cela est possible puis effectuer les opérations demandées (en donnant le résultat sous forme de fraction irréductible).
		<div class="ncols-2"><ol class="exoitems">
			<li id="" class="math">$\dfrac{13}{23\,}-2=$</li>
			<li id="" class="math">$\dfrac{2}{1\,1}-\dfrac{5}{20}=$</li>
			<li id="" class="math">$\dfrac{23}{33\,}-\dfrac{7}{44}=$</li>
			<li id="" class="math">$\dfrac{9}{\,25}-\dfrac{1}{4}=$</li>
			<li id="" class="math">$\dfrac{13}{23\,}-\left( 2+\dfrac{5}{6} \right)=$</li>
			<li id="" class="math">$\dfrac{5}{4\,}-\dfrac{3}{8}+\dfrac{11}{75}=$</li>
			<li id="" class="math">$\dfrac{11}{125}-\left( \dfrac{5}{8}-\dfrac{9}{10} \right)=$</li>
			<li id="" class="math">$\dfrac{23}{50}-\left( \dfrac{9}{18}-\dfrac{34}{75}+\dfrac{1}{20} \right)=$</li>
		</ol>
	</div>
</section>

<!------------------------------------------------------------------------------------------------------------
--- Exercice
------------------------------------------------------------------------------------------------------------ -->
<section class="exo">
	<h2 class="exo">Exercice </h2>
Simplifier les fractions lorsque cela est possible  puis effectuer les opérations demandées (en donnant le résultat sous forme de fraction irréductible).
		<div class="ncols-2"><ol class="exoitems">
			<li id="" class="math">$\dfrac{5}{7}-4-\dfrac{24}{36}=$</li>
			<li id="" class="math">$\dfrac{5}{9}+\dfrac{4}{27}-\dfrac{5}{3}=$</li>
			<li id="" class="math">$\dfrac{5}{21}+\dfrac{13}{28}=$</li>
			<li id="" class="math">$\dfrac{2}{3}-\dfrac{8}{30}+\dfrac{1}{4}=$</li>
			<li id="" class="math">$\dfrac{13}{10}-\left( \dfrac{11}{12}-\dfrac{7}{5} \right)=$</li>
			<li id="" class="math">$\dfrac{3}{24}-\dfrac{-5}{12}=$</li>
			<li id="" class="math">$\dfrac{3}{9}-\dfrac{2}{15}-\dfrac{-1}{10}=$</li>
			<li id="" class="math">$\dfrac{-11}{6}+\dfrac{3}{15}-\dfrac{13}{4}=$</li>
		</ol>
	</div>
</section>

<!------------------------------------------------------------------------------------------------------------
--- Exercice
------------------------------------------------------------------------------------------------------------ -->
<section class="exo">
	<h2 class="exo">Exercice </h2>
Simplifier puis effectuer les opérations demandées (en donnant le résultat sous forme de fraction irréductible).
		<div class="ncols-2"><ol class="exoitems">
			<li id="" class="math">$\dfrac{9}{10}\cdot \dfrac{55}{72}\cdot \dfrac{64}{11}=$</li>
			<li id="" class="math">$\dfrac{20}{12}\cdot \dfrac{-32}{1000}\cdot 21=$</li>
			<li id="" class="math">$\dfrac{14}{75}\cdot \dfrac{15}{24}\cdot \dfrac{125}{35}=$</li>
			<li id="" class="math">$\dfrac{-64}{105}\cdot \dfrac{35}{4}\cdot \dfrac{-6}{8}=$</li>
			<li id="" class="math">$\dfrac{-25}{13} \div \dfrac{-15}{2}=$</li>
			<li id="" class="math">$\dfrac{24}{15} \div \dfrac{32}{75}=$</li>
			<li id="" class="math">$(-5) \div \dfrac{35}{4}=$</li>
			<li id="" class="math">$\dfrac{4}{15} \div \dfrac{22}{45}\cdot \dfrac{66}{64}=$</li>
		</ol>
	</div>
</section>

<!------------------------------------------------------------------------------------------------------------
--- Exercice
------------------------------------------------------------------------------------------------------------ -->
<section class="exo">
	<h2 class="exo">Exercice </h2>
Simplifier puis effectuer les opérations demandées (en donnant le résultat sous forme de fraction irréductible).
		<div class="ncols-2"><ol class="exoitems">
			<li id="" class="math">$\dfrac{21}{45}\cdot \dfrac{15}{36}-\dfrac{7}{18}\cdot \dfrac{16}{21}=$</li>
			<li id="" class="math">$\dfrac{25}{12} \div \dfrac{15}{18}-\dfrac{27}{30}$ $</li>
			<li id="" class="math">$\left( \dfrac{5}{64}-\dfrac{5}{24} \right) \div \left( \dfrac{3}{16}+\dfrac{13}{24} \right)$</li>
			<li id="" class="math">$\dfrac{21}{10} \div \dfrac{14}{15}-\dfrac{60}{55}\cdot \dfrac{121}{24}=$</li>
			<li id="" class="math">$\dfrac{49}{18}-\dfrac{42}{18}\cdot \dfrac{36}{49}=$</li>
			<li id="" class="math">$\left( \dfrac{2}{13}+\dfrac{-5}{8} \right) \div \left( \dfrac{-6}{16}-\dfrac{5}{24} \right)=$</li>
			<li id="" class="math">$\dfrac{\dfrac{4}{5}}{10}=$</li>
			<li id="" class="math">$\dfrac{4}{\dfrac{5}{10}}=$</li>
		</ol>
	</div>
</section>


<!------------------------------------------------------------------------------------------------------------
--- Exercice
------------------------------------------------------------------------------------------------------------ -->
<section class="exo">
	<h2 class="exo">Exercice </h2>
Transformer les nombres décimaux suivants en code fractionnaire irréductible :
<div class="ncols-2"><ol class="exoitems">
	<li id="" class="math">$x=0,47$
	<li id="" class="math">$x=0,\overline{47}$</li>
	<li id="" class="math">$x=0,4\overline{7}$</li>
	<li id="" class="math">$x=0,4\overline{73}$</li>
</ol>
</div>
</section>

<!------------------------------------------------------------------------------------------------------------
--- Exercice
------------------------------------------------------------------------------------------------------------ -->
<section class="exo">
	<h2 class="exo">Exercice </h2>
Transformer les nombres décimaux suivants en code fractionnaire irréductible :
		<div class="ncols-2"><ol class="exoitems">
			<li id="" class="math">$0,\overline{7}$</li>
			<li id="" class="math">$1,\overline{21}$</li>
			<li id="" class="math">$40,\overline{5}$</li>
			<li id="" class="math">$1,\overline{234}$</li>
			<li id="" class="math">$1,2\overline{34}$</li>
			<li id="" class="math">$1,23\overline{4}$</li>
			<li id="" class="math">$-5,\overline{9}$</li>
			<li id="" class="math">$-2,\overline{56}$</li>
			<li id="" class="math">$3,47\overline{56}$</li>
			<li id="" class="math">$-0,04\overline{02}$</li>
		</ol>
	</div>
</section>

<div class="exo section">Puissances et Racines</div>

<!------------------------------------------------------------------------------------------------------------
--- Exercice
------------------------------------------------------------------------------------------------------------ -->
<section class="exo">
	<h2 class="exo">Exercice </h2>
Calcoler les expressions suivantes.
<div class="ncols-2"><ol class="exoitems">
	<li id="" class="math">${{2}^{6}}=$</li>
	<li id="" class="math">${{(-3)}^{4}}=$</li>
	<li id="" class="math">${{5}^{-3}}=$
	<li id="" class="math">${{(-3)}^{-4}}=$</li>
	<li id="" class="math">${{(-5)}^{-2}}=$</li>
	<li id="" class="math">$-{{3}^{4}}=$
</ol</li>
</section>


<!------------------------------------------------------------------------------------------------------------
--- Exercice
------------------------------------------------------------------------------------------------------------ -->
<section class="exo">
	<h2 class="exo">Exercice </h2>
Simplifier puis calculer les expressions suivantes sans utiliser la calculatrice.
		<div class="ncols-2"><ol class="exoitems">
			<li id="" class="math">${{2}^{3}}\cdot {{2}^{-2}}=$</li>
			<li id="" class="math">${{\left( {{(-3)}^{1}} \right)}^{3}}=$</li>
			<li id="" class="math">${{2}^{-3}}\cdot {{2}^{-2}}=$</li>
			<li id="" class="math">$-{{3}^{2}}\cdot {{2}^{2}}=$</li>
			<li id="" class="math">${{\left( {{(-4)}^{2}} \right)}^{-2}}=$</li>
			<li id="" class="math">${{5}^{-2}}-{{5}^{-1}}=$</li>
			<li id="" class="math">${{\left( -\dfrac{2}{3} \right)}^{3}}=$</li>
			<li id="" class="math">${{\left( {{(-3)}^{-1}} \right)}^{0}}=$</li>
			<li id="" class="math">${{3}^{2}}+{{3}^{4}}=$</li>
			<li id="" class="math">$\dfrac{{{4}^{-2}}}{{{4}^{-3}}}=$</li>
			<li id="" class="math">$\dfrac{{{3}^{-2}}}{3}=$</li>
		</ol>
	</div>
</section>


<!------------------------------------------------------------------------------------------------------------
--- Exercice
------------------------------------------------------------------------------------------------------------ -->
<section class="exo">
	<h2 class="exo">Exercice </h2>
Simplifie les expressions suivantes sans utiliser la calculatrice.
		<div class="ncols-2"><ol class="exoitems">
			<li id="" class="math">$\dfrac{{{(-3\cdot 2)}^{-6}}}{{{(-3)}^{-3}}\cdot {{2}^{-5}}}=$</li>
			<li id="" class="math">$\dfrac{{{(4\cdot 9)}^{2}}}{{{(3\cdot 2)}^{4}}}=\text{        }$</li>
			<li id="" class="math">${{({{4}^{-3}}\cdot {{2}^{5}})}^{3}}=$</li>
			<li id="" class="math">$\dfrac{{{(81\cdot {{27}^{-2}})}^{2}}}{{{({{3}^{5}}\cdot {{3}^{-8}})}^{-1}}}=$</li>
		</ol>
	</div>
</section>


<!------------------------------------------------------------------------------------------------------------
--- Exercice
------------------------------------------------------------------------------------------------------------ -->
<section class="exo">
	<h2 class="exo">Exercice </h2>
Compléter suivant l’exemple : $\sqrt[3]{8}=2\text{ car }{{2}^{3}}=8$:
		<div class="ncols-2"><ol class="exoitems">
			<li id="" class="math">$\sqrt[3]{64}= $</li>
			<li id="" class="math">$\sqrt[{}]{100}=$</li>
			<li id="" class="math">$\sqrt[{}]{64}=$</li>
			<li id="" class="math">$\sqrt[3]{-8}=$</li>
			<li id="" class="math">$\sqrt[3]{125}=$</li>
			<li id="" class="math">$\sqrt[{}]{16}=$</li>
			<li id="" class="math">$\sqrt[5]{-32}=$</li>
		</ol>
	</div>
</section>


<!------------------------------------------------------------------------------------------------------------
--- Exercice
------------------------------------------------------------------------------------------------------------ -->
<section class="exo">
	<h2 class="exo">Exercice </h2>
Calcoler les racines sans utiliser la calculatrice :
		<div class="ncols-2"><ol class="exoitems">
			<li id="" class="math">$\sqrt{14400} =$</li>
			<li id="" class="math">$\sqrt{169} =$</li>
			<li id="" class="math">$\sqrt{1.69} =$</li>
			<li id="" class="math">$\sqrt{81\cdot {{10}^{6}}} =$</li>
			<li id="" class="math">$\sqrt{-36} =$</li>
			<li id="" class="math">$\sqrt{0,0004} =$</li>
			<li id="" class="math">$\sqrt{{{(-7)}^{2}}} =$</li>
			<li id="" class="math">$\sqrt{\dfrac{9}{64}} =$</li>
			<li id="" class="math">$\sqrt{9\cdot 16} =$</li>
			<li id="" class="math">$\sqrt{49\cdot 81}=$</li>
			<li id="" class="math">$\sqrt{{{\left( -5 \right)}^{2}}} =$</li>
			<li id="" class="math">$\sqrt{16+9} =$</li>
		</ol>
	</div>
</section>

<!------------------------------------------------------------------------------------------------------------
--- Exercice
------------------------------------------------------------------------------------------------------------ -->
<section class="exo">
	<h2 class="exo">Exercice </h2>
Calcoler les racines suivantes:
		<div class="ncols-2"><ol class="exoitems">
			<li id="" class="math">$\sqrt{12}\cdot \sqrt{3}=$</li>
			<li id="" class="math">$\sqrt{98}\cdot \sqrt{0,5}=$</li>
			<li id="" class="math">$\sqrt[3]{2}\cdot \sqrt[3]{4}=$</li>
			<li id="" class="math">$\sqrt{\sqrt{81}}=$</li>
			<li id="" class="math">$\sqrt{\sqrt[3]{64}}=$</li>
			<li id="" class="math">$\sqrt[14]{{{4}^{7}}}=$</li>
			<li id="" class="math">$\sqrt[6]{125}\cdot \sqrt[6]{25}\cdot \sqrt[6]{5}=$</li>
		</ol>
	</div>
</section>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

  <script>
  $(function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  });
  </script>

	</body>
</html>
